<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303874792918-cqac858h51h5l2ots7fpkbabuqlkv3mf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303874792918-cqac858h51h5l2ots7fpkbabuqlkv3mf</string>
	<key>API_KEY</key>
	<string>AIzaSyApOHnFl8VqHx8fo6UvaSslXGYgxWH-p74</string>
	<key>GCM_SENDER_ID</key>
	<string>303874792918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kwikshop.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kwikshop-83018</string>
	<key>STORAGE_BUCKET</key>
	<string>kwikshop-83018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303874792918:ios:46a63cf1102e5b042ed877</string>
	<key>DATABASE_URL</key>
	<string>https://kwikshop-83018-default-rtdb.firebaseio.com</string>
</dict>
</plist>